<!-- Created by Rikardas Bleda -->
<% if(typeof errors != 'undefined') { %>
    <% errors.forEach(function(error) { %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= error.msg %>
        </div>
    <% }); %>
<% } %>

<% if(typeof success_msg != 'undefined' && success_msg != '') { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= success_msg %>
    </div>
<% } %>

<% if(typeof error_msg != 'undefined' && error_msg != '') { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= error_msg %>
    </div>
<% } %>

<% if(typeof error != 'undefined' && error != '') { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= error %>
    </div>
<% } %>
