<!-- Created by Rikardas Bleda -->
<%- include ("./partials/header") %>
<h1 class="mt-4">Administrator Tools</h1>
<a href="/details" class="btn btn-primary">User Details</a>
<a href="/users/register" class="btn btn-primary">Create a User Account</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<%- include ("./partials/footer") %>