   <%- include ("partials/header") %>
    <body>
<br>
      <div>
        <h3>User accessibilities:</h3>
        <p>
          A user can create and edit data. This means a user has can add a crime with relalvent suspects to the database. They can also edit crime data and data of the suspects. 
        </p>
      </div>
      <div>
        <h3>Information Manager accessibilities:</h3>
        <p>
An information manager has all the accessibilities of a user; furthermore they manage the MOPI system meaning they control what user role has access to what.        </p>
      </div>
      <div>
        <h3>Admin accessibilities:</h3>
        <p>
          An admin/superuser manages the administration of the system and users; only they can create users, can check error logs. 
          They have all accessibilities of a user.
        </p>
      </div>


    <%- include ("./partials/footer") %>

