<%- include ("../partials/header") %>
<!-- review page for suspect -->
<form action="/people/<%=personID%>/review" method="POST">
    <label>Is there evidence of a capacity to inflict serious harm?</label>
    <input type="checkbox" id="" name="harm" value="1"><br>
    <label>Are there any concerns in relation to children or vulnerable adults?</label>
    <input type="checkbox" id="" name="children" value="1"><br>
    <label>Did the behaviour involve a breach of trust?</label>
    <input type="checkbox" id="" name="trust" value="1"><br>
    <label>Is there evidence of established links or associations which might increase the risk of harm?</label>
    <input type="checkbox" id="" name="associations" value="1"><br>
    <label>Are there concerns in relation to substance misuse?</label>
    <input type="checkbox" id="" name="substance" value="1"><br>
    <label>Are there concerns that an individual’s mental state might exacerbate risk?</label>
    <input type="checkbox" id="" name="mentalState" value="1"><br>
    <label>Are there any other issues that impact on the level of risk the individual presents?</label>
    <input type="checkbox" id="" name="impact" value="1"><br>
    <label>Could this individual be of interest to ongoing public inquires?</label>
    <input type="checkbox" id="" name="interest" value="1"><br>

    <button>Submit</button>
</form>

<%- include ("../partials/footer") %>











